body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header {
    display: flex;
    flex-wrap: nowrap;
    background-color: #1f2937;
    align-items: center;
    padding-left: 150px;
    padding-right: 150px;
}

h3 {
    font-size: 24px;
    color: #f9faf8;
    padding-left: 16px;
    place-content: center start;
}

.toplinks {
    display: flex;
    justify-content: flex-end;
    flex: auto;
    font-size: 18px;
    color: #e5e7eb;
}

span {
    padding-left: 16px;
    padding-right: 16px;
}