body {
    font-style: Roboto;
}

.header {
    display: flex;
    flex-wrap: nowrap;
    background-color: #1f2937;
    align-items: center;
}

h3 {
    font-size: 24px;
    color: #f9faf8;
}

.toplinks {
    display: flex;
    justify-content: flex-end;
    flex: auto;
    font-size: 18px;
    color: #e5e7eb;
}