body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header {
    display: flex;
}

h3 {
    font-size: 24px;
    color: #f9faf8;
    place-content: center start;
}

.toplinks {
    display: flex;
    justify-content: flex-end;
    flex: auto;
    align-items: center;
}

.toplinks, p {
    font-size: 18px;
    color: #e5e7eb;
}

span {
    padding-left: 16px;
    padding-right: 16px;
}

.firstsection {
    padding-left: 150px;
    padding-right: 150px;
    background-color: #1f2937;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    align-self: flex-start;
    display: block;
    width: 400px;
    padding-bottom: 05px;
    margin-bottom: 0px;
}

p {
    display: block;
    width: 500px;
    padding: 0px 0px 10px 0px;
    margin: 0px;
    font-weight: 000;
}

.firstpanel {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-bottom: 30px;
}

img {
    padding: 40px;
}

button {
    background-color: #3882f6;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    color: #f9faf8;
    border-width: 0px;
}